@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}

a {
  text-decoration: none !important;
  transition: 0.3s all ease;
  color: #2f2f2f;
  text-decoration: underline;
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  background-color: #2f2f2f;
  border-color: #2f2f2f;
  color: #fff;
  &:hover {
    background-color: #222;
    border-color: #222;
    color: #fff;
  }
  &.btn-hero {
    background: #f9bf29;
    border: #f9bf29;
    color: #2f2f2f;
    &:hover {
      background: #f8b810;
      border-color: #f8b810;
    }
  }

  &.btn-outline-hero {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    &:hover {
      border-color: #fff;
    }
  }
  &.btn-primary {
    background: #3b5d50;
    border: #3b5d50;
    color: #ffffff;
    &:hover {
      background: #314d43;
      border-color: #314d43;
    }
  }
}

.section-title {
  color: #2f2f2f;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
}

.custom-navbar {
  background-color: #3b5d50;
  padding: 20px 0px;
  .navbar-brand {
    font-size: 32px;
    font-weight: 600;
    span {
      opacity: 0.4;
    }
  }
  .custom-navbar-nav {
    @media (min-width: 992px) {
      li {
        margin: auto 15px;
      }
    }

    li {
      a {
        font-weight: 500;
        color: #ffffff !important;
        opacity: 0.5;
        transition: 0.3s all ease;
        position: relative;
        &:hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;
        }
        @media (min-width: 768px) {
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 8px;
            right: 8px;
            background: #f9bf29;
            height: 5px;
            width: 0;
            visibility: visible;
            transition: all 0.15s ease-out;
          }
          &:hover::before {
            width: calc(100% - 16px);
          }
        }
      }

      a.active::before {
        width: calc(100% - 16px);
      }
    }
  }
  .custom-navbar-icons {
    li {
      margin: auto 0px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}

.hero {
  background: #3b5d50;
  padding: 1rem 0;
  @media (min-width: 768px) {
    padding: 2rem 0;
  }
  @media (min-width: 992px) {
    padding: 4rem 0;
  }
  @media (min-width: 1200px) {
    padding: 7rem 0;
  }
  .hero-text {
    text-align: center;
    @media (min-width: 992px) {
      text-align: left;
    }
    h1 {
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 30px;
      font-size: 30px;

      @media (min-width: 992px) {
        font-size: 40px;
      }
      @media (min-width: 1200px) {
        font-size: 54px;
      }
    }
    p {
      text-align: left;
      color: rgba(255, 255, 255, 0.5);
      margin-bottom: 30px;
    }
  }
  .hero-img {
    position: relative;

    img {
      position: absolute;
      top: -80px;
      left: 10px;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      top: -40px;
      right: -100px;
      width: 255px;
      height: 217px;
      background-image: url("./assets/images/dots-light.svg");
    }
  }
}

.products {
  padding: 1rem 0;
  @media (min-width: 768px) {
    padding: 2rem 0;
  }
  @media (min-width: 992px) {
    padding: 4rem 0;
  }
  @media (min-width: 1200px) {
    padding: 7rem 0;
  }

  .product-item {
    display: block;
    padding-bottom: 50px;
    position: relative;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 0%;
      border-radius: 10px;
      z-index: -1;
      background: #dce5e4;
      opacity: 1;
      transition: 0.3s all ease;
    }

    .product-thumbnail {
      margin-bottom: 30px;
      position: relative;
      top: 0;
      transition: 0.3s all ease;
    }
    .product-title {
      color: #2f2f2f;
      font-weight: 600;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .product-price {
      color: #2f2f2f;
      font-weight: 800;
      font-size: 18px;
    }
    .icon-cross {
      display: inline-block;
      background: #2f2f2f;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: absolute;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);
      transition: 0.3s all ease;
      margin-bottom: -17.5px;
      opacity: 0;
      visibility: hidden;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &:hover {
      .product-thumbnail {
        top: -25px;
      }
      .icon-cross {
        transform: translate(-50%, 40%);
        opacity: 1;
        visibility: visible;
      }
      &::before {
        height: 70%;
      }
    }
  }
}

.why {
  padding: 1rem 0;
  @media (min-width: 768px) {
    padding: 2rem 0;
  }
  @media (min-width: 992px) {
    padding: 4rem 0;
  }
  @media (min-width: 1200px) {
    padding: 7rem 0;
  }

  .section-title {
    color: #2f2f2f;
    margin-bottom: 10px;
  }
  h3 {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .feature .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    position: relative;
    background-color: #c7cfcc;
    border-radius: 50%;
  }

  .img-container {
    position: relative;
    z-index: 1;
    img {
      border-radius: 20px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 255px;
      height: 217px;
      background-image: url("./assets/images/dots-yellow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate(-40%, -40%);
      z-index: -1;
    }
  }
}

.help {
  padding: 1rem 0;
  @media (min-width: 768px) {
    padding: 2rem 0;
  }
  @media (min-width: 992px) {
    padding: 4rem 0;
  }
  @media (min-width: 1200px) {
    padding: 7rem 0;
  }

  ul {
    li {
      margin-bottom: 12px;
      line-height: 1.5;
      position: relative;
      padding-left: 20px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 2px solid #3b5d50;
      }
    }
  }

  .img-grid {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: (27, 1fr);

    img {
      border-radius: 20px;
    }

    .grid-1 {
      grid-column: 1 / span 18;
      grid-row: 1 / span 27;
    }

    .grid-2 {
      grid-column: 20 / span 27;
      grid-row: 1 / 6;
    }

    .grid-3 {
      grid-column: 15 / span 17;
      grid-row: 7 / span 33;
    }
    &::before {
      position: absolute;
      content: "";
      width: 255px;
      height: 217px;
      background-image: url("./assets/images/dots-green.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transform: translate(-40%, -40%);
      z-index: -1;
    }
  }
}

.testimonial {
  padding: 0.5rem 0 1rem;
  @media (min-width: 768px) {
    padding: 1rem 0 2rem;
  }
  @media (min-width: 992px) {
    padding: 2rem 0 4rem;
  }
  @media (min-width: 1200px) {
    padding: 3.5rem 0 7rem;
  }
  .carousel {
    margin: 2rem 10px;
  }

  .carousel-inner {
    width: 74%;
    margin: auto;
  }

  .carousel-item {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .carousel-indicators {
    bottom: -3rem;
    button {
      background-color: #2f2f2f !important;
      border-radius: 50%;
      width: 0.5rem !important;
      height: 0.5rem !important;
      margin-left: 5px;
      display: block;
    }
  }
  .carousel-caption {
    background: transparent;
    padding: 2rem;
  }

  .testimonial-block {
    padding: 2rem;
    blockquote {
      margin-bottom: 2rem;
      line-height: 1.6;
      font-size: 18px;
    }
    .author-info {
      .author-pic {
        width: 80px;
        height: 80px;
        margin: 0 auto 1rem;
        border-radius: 50%;
        overflow: hidden;
      }
      h3 {
        color: #2f2f2f;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
    }
  }

  .carousel-control-next,
  .carousel-control-prev {
    margin-top: 10rem;
    width: 58px;
    height: 58px;
    background-color: #dde2e0;
    border-radius: 50%;
    padding: 10px;
    color: #2f2f2f !important;
    transition: all 0.3s ease;

    &:hover {
      background-color: #3b5d50;
      color: #fff !important;
    }
  }
}

.footer {
  background-color: #fff;
  padding: 1rem 0;
  @media (min-width: 768px) {
    padding: 2rem 0 0.5rem;
  }
  @media (min-width: 992px) {
    padding: 4rem 0 1rem;
  }
  @media (min-width: 1200px) {
    padding: 7rem 0 3rem;
  }
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  .img-container {
    position: absolute;
    top: -250px;
    right: 0px;
  }
  a {
    color: #2f2f2f;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  &:hover {
    color: #2f2f2f9e;
  }
  .subscription-form {
    position: relative;
    @media (min-width: 992px) {
      margin-top: 0px;
      margin-bottom: 80px;
    }
    .form-control {
      height: 50px;
      padding: 0.375rem 0.75rem;
      color: #fff;
      border-radius: 10px;
      color: #2f2f2f;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.5;
      border: 1px solid #2f2f2f50;
      transition: all 0.15s ease-in-out;
      &::placeholder {
        color: #2f2f2f !important;
        font-size: 14px !important;
      }
      &:focus,
      &:active {
        outline: none !important;
        box-shadow: none !important;
        border: 1px solid #3b5d50 !important;
      }
    }
  }
  .footer-heading {
    margin: 20px 0;
  }
  .social {
    margin-top: 20px;
    a {
      margin-right: 10px;
      color: #2f2f2f;
      transition: all 0.3s ease;
      &:hover {
        color: #3b5d50;
      }
      i {
        font-size: 25px;
      }
    }
  }

  .links {
    @media (min-width: 992px) {
      margin-top: 35px;
      margin-bottom: 80px;
    }
    ul {
      li {
        margin-bottom: 10px;
        a {
          color: #2f2f2f;
          transition: all 0.3s ease;
          &:hover {
            color: #3b5d50;
          }
        }
      }
    }
  }
}
